
.btn {
    display: inline-block;
    text-decoration: none;
    transition: 0.3s;
    border:0.2rem solid $COLOR_PRIMARY;
    font-size: 1.5rem;
    line-height: 1.1;
    cursor: pointer;
    padding: 1rem 2.5rem;
    font-weight: bold;
    text-align: center;
}

.btn-primary {
    border-color: $COLOR_PRIMARY;
    background: $COLOR_PRIMARY;
    color: $COLOR_PRIMARY_TEXT;
    &:hover {
        border-color: $COLOR_SECONDARY;
        color: $COLOR_SECONDARY_TEXT;
        background: $COLOR_SECONDARY;
    }
}

.btn-secondary {
    border-color: $COLOR_SECONDARY;
    background: $COLOR_SECONDARY;
    color: $COLOR_SECONDARY_TEXT;
    &:hover {
        border-color: $COLOR_SECONDARY;
        background: $COLOR_SECONDARY_TEXT;
        color: $COLOR_SECONDARY;
    }
}

.btn-arrows {
    background: transparent;
    border: none;
    line-height: 1.1;
    font-size: 1.4rem;
    font-weight: 700;
    color:#000;
    position: relative;
    padding: 0 3rem 0 0;
    text-decoration: underline;
    &:before {
        content: '';
        position: absolute;
        top:50%;
        right: 0;
        transform: translateY(-50%);
        width: 1.2rem;
        height: 1.2rem;
        background: url(../images/next.svg) no-repeat center center;
        background-size: contain;
    }            
    &:hover {
        text-decoration: none;
    }
}