.form-group {
    &__half {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% + 5rem);
        margin: 0 -2.5rem;
        align-items: center;
        .form-group__col {
            width: 100%;
            padding: 0 2.5rem;
            @media only screen and (min-width: 768px) {
                width: 50%;
            }
            .form-field {
                padding: 0;
            }
        }
    }
}

.form-field {
    display: block;
    margin: 0 0 3.5rem 0;
    padding: 0;
    position: relative;
    width: 100%;
    font-family: $FONT_CONTENT;
    font-size: 1.5rem;
    line-height: 1.1;

    &__input {
        border: none;
        border-bottom: 0.1rem solid #000;
        border-radius: 0;
        margin: 0;
        padding: 1rem 0;
        width: 100%;
        outline: none !important;
        font-family: $FONT_CONTENT;
        font-size: 1.5rem;
        color: #000;
        line-height: 1.1;
        &:focus {
            box-shadow: 0 0 5px 2px rgba(194, 213, 255, 0.6196078431372549);
            border-color: #296f98;
        }
        &:hover {
            cursor: pointer;
        }
        &.error {
            border-color: red;
        }
    }

    &.date-field {
        position: relative;
        @media (min-width: 768px) {
            .form-field__input {
                padding: 1rem 0 1rem 3rem !important;
            }
            &:after {
                content: "";
                width: 1.8rem;
                height: 1.8rem;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                background: url(../images/calendar.svg) no-repeat center center;
                background-size: cover;
                pointer-events: none;
            }
        }
    }

    &.pocet {
        border-bottom: 0.1rem solid #000;
        display: flex;
        width: 100%;
        label {
            flex-grow: 1;
            padding: 1rem 0;
            color: #666;
            font-family: $FONT_CONTENT;
            font-size: 1.5rem;
            margin: 0;
        }
        .form-field__input {
            border: none;
            border-radius: 0;
            margin: 0;
            padding: 0;
            width: 4rem;
            outline: none !important;
            font-family: $FONT_CONTENT;
            font-size: 1.5rem;
            color: #000;
            line-height: 1.1;
            text-align: center;
            &:focus {
                box-shadow: none;
                border-color: transparent;
            }
            &:hover {
                cursor: pointer;
            }
            &.error {
                border-color: transparent;
            }
        }
        input[type=number]::-webkit-inner-spin-button, 
        input[type=number]::-webkit-outer-spin-button {  
            opacity: 1;
        }
    }
}
