
.intro-price {
    text-align: center;
    border: 0.3rem solid $COLOR_SECONDARY;
    overflow: hidden;
    border-radius: 0.5rem;
    width: 100%;
    @media only screen and (min-width: 991px) {
        width: 20rem;
    }
    @media only screen and (min-width: 1200px) {
        width: 22rem;
    }
    &__caption {
        font-size: 2.5rem;
        line-height: 1.1;
        font-weight: bold;
        color:$COLOR_SECONDARY;
        display: block;
        padding: 1.5rem 0;
    }
    &__value {
        font-size: 2.5rem;
        line-height: 1.1;
        font-weight: bold;
        color:#fff;
        background:$COLOR_SECONDARY;
        display: block;
        padding: 1.5rem 0;
    }

}

.intro-icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: calc(100% - 3rem);
    margin: 0 auto;
    max-width: 135rem;
    padding: 1.5rem 1.5rem;
    background: #fff;
    box-shadow: 0 0 1.5rem rgba(0,0,0,0.2);
    @media only screen and (min-width: 991px) {
        width: calc(100vw - 5.9rem);
        position: absolute;
        bottom:0;
        left:50%;
        transform: translateX(-50%);
    }
    @media only screen and (min-width: 1200px) {
        padding: 1.5rem 9rem;
    }

    &__more {
        text-align: center;
        width: 100%;
        padding: 0 0 2rem 0;
        @media only screen and (min-width: 991px) {
            width: 7rem;
            padding: 0;
        }
        a {
            display: inline-block;
            line-height: 1.1;
            font-size: 1.4rem;
            font-weight: 700;
            color:#000;
            position: relative;
            padding: 0 3rem 0 0;
            text-decoration: underline;
            &:before {
                content: '';
                position: absolute;
                top:50%;
                right: 0;
                transform: translateY(-50%);
                width: 1.2rem;
                height: 1.2rem;
                background: url(../images/next.svg) no-repeat center center;
                background-size: contain;
            }            
            &:hover {
                text-decoration: none;
            }
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 3rem 0;
        width: 100%;
        @media only screen and (min-width: 991px) {
            width: calc(100% - 7rem - 22rem);
            padding: 0 1.5rem;
        }
        @media only screen and (min-width: 1200px) {
            padding: 0 5rem;
        }
    }

    &__item {
        width: 50%;
        text-align: center;
        margin: 0 0 3rem 0;
        @media only screen and (min-width: 550px) {
            width: 20%;
            margin: 0;
        }
        img {
            width: 5rem;
            height: 5rem;
            filter: invert(12%) sepia(91%) saturate(2168%) hue-rotate(211deg) brightness(95%) contrast(102%);
        }
        span {
            padding: 1rem 0 0 0;
            display: block;
            line-height: 1.1;
            font-size: 1.4rem;
            font-weight: 700;
            color:#000;
        }
        &--wider {
            img {
                margin: 0.8rem 0 0.7rem 0;
                width: 7rem;
                height: 3.5rem;
            }   
        }
    }
}
