@import "../abstract/_variables.scss";

.lang-selector {
    position: relative;
    &__button {
        background: transparent;
        border: none;
        outline: none !important;
        cursor: pointer;
        padding: 0 2rem 0 0;
        margin: 0;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            top:50%;
            right: 0;
            transform: translateY(-50%);
            border-top: 0.5rem solid #444;
            border-left: 0.5rem solid transparent;
            border-right: 0.5rem solid transparent;
            transition: 0.3s;
        }
        img {
            width: 2.4rem;
            height: 2.4rem;
            display: block;
        }
    }

    &__dropdown {
        display: none;
        text-align: center;
        position: absolute;
        top:130%;
        left:-1rem;
        background: #fff;
        box-shadow: 0 0.5rem 1.5rem rgba(225,241,209,.23);
        width: calc(100% + 2rem);
        padding: 0 0 0.3rem 0;
        &.open {
            display: block;
        }
        a {
            display: block;
            padding: 0.7rem 0;
            text-align: center;
            img {
                width: 2.4rem;
                height: 2.4rem;
                display: inline-block;
                transition: 0.3s;
            }
            &:hover {
                img {
                    transform: scale(1.15);
                }
            }
        }
    }
}