@import "../abstract/_variables.scss";

.navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    &__button {
        padding: 1.2rem 0;
        color: $COLOR_PRIMARY_TEXT;
        background: $COLOR_PRIMARY;
        font-weight: bold;
        font-size: 1.6rem;
        text-transform: uppercase;
        text-decoration: none;
        transition: 0.3s;
        text-align: center;
        cursor: pointer;
        outline: none !important;
        border:none;
        border-radius: 0.5rem;
        display: block;
        @media only screen and (min-width: 550px) {
            display: none;
        }
        &:hover {
            color: $COLOR_SECONDARY_TEXT;
            background: $COLOR_SECONDARY;
        }
    }
    &>li {
        margin: 0.2rem 0;
        padding: 0;
        display: block;
        position: relative;
        @media only screen and (min-width: 991px) {
            margin: 0;
            display: inline-block;
            vertical-align: middle;
        }
        &>a {
            display: block;
            position: relative;
            cursor: pointer;
            font-size: 1.4rem;
            color: #888;
            padding: 1rem;
            font-weight: 600;
            transition: 0.5s;
            text-decoration: none;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 0.1rem;
            @media only screen and (min-width: 1200px) {
                padding: 1rem 2.0rem;
                font-size: 1.5rem;
            } 
            span {
                position: relative;
                z-index: 2;
            }
            &:before {
                content: '';
                position: absolute;
                top:0; 
                left:0;
                transition: 0.5s;
                width: 0%;
                height: 100%;
                background: $COLOR_SECONDARY;
                z-index: 1;
                border-radius: 0.4rem;
                opacity: 0;
            }
            &:hover {
                color: $COLOR_SECONDARY_TEXT;
                &:before {
                    width: 100%;
                    opacity: 1;
                }
            }
        }
        &.selected {
            &>a {
                color: $COLOR_SECONDARY_TEXT;
                &:after {
                    border-top-color: #fff;
                }
                &:before {
                    width: 100%;
                    opacity: 1;
                }
            }
        }
        &.has-child {
            &>a {
                @media only screen and (min-width: 991px) {
                    padding: 1rem 2.5rem 1rem 1rem;
                } 
                @media only screen and (min-width: 1200px) {
                    padding: 1rem 3rem 1rem 2rem;
                    font-size: 1.5rem;
                } 
                &:after {
                    content: '';
                    position: absolute;
                    top:50%;
                    right: 1rem;
                    transform: translateY(-50%);
                    border-top: 0.5rem solid #444;
                    border-left: 0.5rem solid transparent;
                    border-right: 0.5rem solid transparent;
                    transition: 0.5s;
                    z-index: 3;                    
                }
                &:hover {
                    &:after {
                        border-top-color: #fff;
                    }
                }
            }
        }
        &.open {
            &>a {
                color: $COLOR_SECONDARY_TEXT;
                &:after {
                    border-top-color: #fff;
                }
                &:before {
                    width: 100%;
                    opacity: 1;
                }
            }
            ul {
                display: block;
            }
        }
        ul {
            display: none;
            margin: 0;
            padding: 1rem 0;
            background: $COLOR_SECTION_BACKGROUND;
            min-width: 100%;
            
            @media only screen and (min-width: 991px) {
                position: absolute;
                top:100%;
                left:0;
                border-bottom-left-radius: 0.5rem;
                border-bottom-right-radius: 0.5rem;
            } 
            li {
                display: block;
                margin: 0;
                padding: 0;
                a {
                    display: block;
                    cursor: pointer;
                    font-size: 1.5rem;
                    color: #888;
                    padding: 0.7rem 1rem;
                    font-weight: 600;
                    transition: 0.3s;
                    text-decoration: none;
                    text-align: center;
                    @media only screen and (min-width: 991px) {
                        text-align: left;
                    } 
                    @media only screen and (min-width: 1200px) {
                        padding: 0.7rem 2rem;
                    } 
                    &:hover {
                        background:$COLOR_SECONDARY;
                        color:$COLOR_SECONDARY_TEXT;
                    }
                }
            }
        }
    }
}


