
.intro {
    width: 100%;
    height: 100vh;
    max-height: calc(100vh - 11.4rem - 3rem);
    padding: 0 1.5rem;
    @media only screen and (min-width: 550px) {
        height: 100vh;
        max-height: calc(100vh - 11.4rem - 3rem);
    } 
    @media only screen and (min-width: 991px) {
        padding: 0 3rem;
    }

    .slick-arrow {
        display: none !important;
    }

    .slick-dots {
        display: none !important;
        position: absolute;
        bottom: 1.5rem;
        left:0; 
        width: 100%;
        text-align: center;
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            margin: 0;
            padding: 0;
            button {
                font-size: 0;
                border:none;
                background: #fff;
                padding: 0;
                margin: 0 4px;
                width: 12px;
                height: 12px;
                border-radius: 0;
                cursor: pointer;
                outline: none !important;

            }
            &.slick-active {
                button {
                    background: $COLOR_PRIMARY;
                }
            }
        }
    }

    &__item {
        position: relative;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 100vh !important;
        max-height: calc(100vh - 11.4rem - 3rem);
        @media only screen and (min-width: 550px) {
            height: 100vh !important;
            max-height: calc(100vh - 11.4rem - 3rem);
        } 
    }
}

.section {
    &__intro {
        position: relative;
        background: $COLOR_SECTION_BACKGROUND;
    }
    &__caption {
        background: $COLOR_SECTION_BACKGROUND;
        padding: 5.5rem 0 0rem 0;
        @media only screen and (min-width: 991px) {
            padding: 8rem 0 6rem 0;
        }
        h1 {
            font-family: $FONT_CAPTIONS;
            color:$COLOR_SECONDARY;
            font-size:4.5rem;
            line-height: 1.2;
            margin: 0;
            padding: 0;
            @media only screen and (min-width: 768px) {
                font-size:5.5rem;
            }
            @media only screen and (min-width: 991px) {
                font-size:7rem;
            }
            @media only screen and (min-width: 1200px) {
                font-size:8rem;
            }
            @media only screen and (min-width: 1400px) {
                font-size:10rem;
            }
        }
    }
}