
.section {
    &__about {
        background: $COLOR_SECTION_BACKGROUND;
    }
}

.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    padding: 0 0 8rem 0;

    &__content {
        width: 100%;
        color:#777;
        font-size:1.8rem;
        font-weight: normal;
        line-height: 1.7;
        padding: 0 0 3rem 0;
        text-align: center;
        @media only screen and (min-width: 991px) {
            width:calc(50% - 2rem); 
            padding: 0 0 10rem 0;
            text-align: left;
        }
        @media only screen and (min-width: 1200px) {
            width:calc(50% - 4.5rem);
        }

        h2 {
            font-family: $FONT_CAPTIONS;
            color: #000;
            font-size:4.0rem;
            font-weight: normal;
            line-height: 1.2;
            margin: 4rem 0 2rem 0;
            padding: 0;
            @media only screen and (min-width: 768px) {
                font-size:5rem;
            }
            @media only screen and (min-width: 991px) {
                margin: 4rem 0;
            }
        }
    }

    &__image {
        width: 100%;
        text-align: center;
        @media only screen and (min-width: 991px) {
            width:calc(50% - 2rem)
        }
        @media only screen and (min-width: 1200px) {
            width:calc(50% - 4.5rem)
        }
        img {
            width: 100%;
            display: block;
        }
    }
}

.about-numbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background: #fff;
    box-shadow: 0 0.5rem 1.5rem rgba(225,241,209,.23);
    padding: 3rem 2rem 0 2rem;
    @media only screen and (min-width: 768px) {
        padding: 4rem 3rem;
        justify-content: space-between;
    }
    @media only screen and (min-width: 991px) {
        position: absolute;
        bottom:0;
        width: 75%;
    }

    @media only screen and (min-width: 1200px) {
        padding: 5rem 7rem;
    }
    &__item {
        width: 100%;
        margin: 0 0 3rem 0;
        @media only screen and (min-width: 550px) {
            width: 50%;   
        }
        @media only screen and (min-width: 768px) {
            margin: 0;
            justify-content: space-between;
            width: auto;   
        }
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    &__icon {
        img {
            width: 6rem;
        }
        @media only screen and (min-width: 550px) {
            &--wider {
                img {
                    margin: 0.8rem 0 0.7rem 0;
                    width: 8rem;
                    height: 4rem;
                }   
            }
        }
    }
    &__texts {
        padding: 0 0 0 1.8rem;
    }
    &__value {
        line-height: 1.2;
        color: $COLOR_SECONDARY;
        font-weight: 600;
        font-family: $FONT_CAPTIONS;
        font-size: 4.2rem;
        margin: 0;
    }
    &__caption {
        line-height: 1.2;
        color: #777;
        font-weight: normal;
        font-size: 1.8rem;
        margin: 0;
    }
}