.section {
    &__apartmans {
        background: $COLOR_SECTION_BACKGROUND;
        padding: 0 0 5rem 0;
    }
}

.apartmans {
    padding: 0;
    @media only screen and (min-width: 991px) {
        padding: 12rem 0 0 0;
    }
    &__subtitle {
        text-align: center;
        margin: 0 0 1.5rem 0;
        line-height: 1.2;
        color: $COLOR_SECONDARY;
        font-weight: 600;
        font-size: 1.4rem;
        letter-spacing: .1rem;
        text-transform: uppercase;
    }
    &__title {
        text-align: center;
        font-family: $FONT_CAPTIONS;
        color: #000;
        font-size: 4.4rem;
        line-height: 1.2;
        margin: 0 0 1.5rem 0;
        padding: 0;
        @media only screen and (min-width: 768px) {
            font-size: 5.4rem;  
        }
    }
    &__separator {
        text-align: center;
        padding: 0 0 5rem 0;
    }
    &__slider {
        padding: 0 0 5.5rem 0;
        width: calc(100% + 4rem);
        margin: 0 -2rem;
        @media only screen and (min-width: 1200px) {
            width: calc(100% + 8rem);
            margin: 0 -4rem;
        }

        .slick-arrow {
            display: none !important;
        }
        .slick-dots {
            position: absolute;
            bottom: 0;
            left:0; 
            width: 100%;
            text-align: center;
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                display: inline-block;
                margin: 0;
                padding: 0;
                button {
                    font-size: 0;
                    border:none;
                    background: #000;
                    padding: 0;
                    margin: 0 4px;
                    width: 7rem;
                    height: 0.2rem;
                    border-radius: 0;
                    cursor: pointer;
                    outline: none !important;
    
                }
                &.slick-active {
                    button {
                        background: $COLOR_PRIMARY;
                    }
                }
            }
        }
    }
}

.apartman-card {
    padding: 0 2rem;
    outline: none !important;
    text-align: center;
    text-decoration: none;
    @media only screen and (min-width: 1200px) {
        padding: 0 4rem;
    }
    &__image {
        overflow: hidden;
        img {
            display: block;
            width: 100%;
            transition: 0.3s;
        }
    }
    &__title {
        text-align: center;
        font-family: $FONT_CAPTIONS;
        color: #000;
        font-size: 2.8rem;
        line-height: 1.2;
        margin: 0 0 1rem 0;
        padding: 2rem 0 0 0;
    }
    &__text {
        color:#777;
        font-size:1.6rem;
        font-weight: normal;
        line-height: 1.7;
        margin: 0;
    }
    &:hover {
        .apartman-card__image {
            img {
                transform: scale(1.1);
            }
        }
        .apartman-card__title {
            text-decoration: underline;
        }
    }
}