.footer {
    background: #fff;
    .copyright {
        text-align: center;
        color:#666;
        padding: 1.5rem 0;
        font-size: 1.2rem;
        line-height: 1.1;
        a {
            color:#666;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
                color:#000;
            }
        }
    }
}

