.section {
    &__form {
        background: #fff;
        padding: 8rem 0 5rem 0;
        @media only screen and (min-width: 1200px) {
            padding: 12rem 0 9rem 0;
        }
    }
}

.form {
    &__subtitle {
        text-align: center;
        margin: 0 0 1.5rem 0;
        line-height: 1.2;
        color: $COLOR_SECONDARY;
        font-weight: 600;
        font-size: 1.4rem;
        letter-spacing: .1rem;
        text-transform: uppercase;
    }
    &__title {
        text-align: center;
        font-family: $FONT_CAPTIONS;
        color: #000;
        font-size: 4.4rem;
        line-height: 1.2;
        margin: 0 0 1.5rem 0;
        padding: 0;
        @media only screen and (min-width: 768px) {
            font-size: 5.4rem;  
        }
    }
    &__separator {
        text-align: center;
        padding: 0 0 5rem 0;
    }
}

.form-fields {
    width: 100%;
    margin: 0 auto;
    max-width: 80rem;

    .btn-primary {
        padding: 1.5rem 5rem;
        font-weight: bold;
        font-size: 1.6rem;
        border-radius: 0.5rem;
    }
}