.section {
    &__galerie {
        background: $COLOR_SECONDARY;
        padding: 7rem 0 6rem 0;
        @media only screen and (min-width: 1200px) {
            padding: 12rem 0;
        }
    }
}

.galerie {
    &__title {
        text-align: center;
        font-family: $FONT_CAPTIONS;
        color: #fff;
        font-size: 4.4rem;
        line-height: 1.2;
        margin: 0 0 1.5rem 0;
        padding: 0;
        @media only screen and (min-width: 768px) {
            font-size: 5.4rem;  
        }
    }
    &__separator {
        text-align: center;
        padding: 0 0 5rem 0;
    }
    &__slider {
        padding: 0 0 5.5rem 0;
        width: calc(100% + 3rem);
        margin: 0 -1.5rem;
        @media only screen and (min-width: 1200px) {
            width: calc(100% + 5rem);
            margin: 0 -2.5rem;
        }
        .slick-arrow {
            display: none !important;
        }
        .slick-dots {
            position: absolute;
            bottom: 0;
            left:0; 
            width: 100%;
            text-align: center;
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                display: inline-block;
                margin: 0;
                padding: 0;
                button {
                    font-size: 0;
                    border:none;
                    background: #fff;
                    padding: 0;
                    margin: 0 4px;
                    width: 7rem;
                    height: 0.2rem;
                    border-radius: 0;
                    cursor: pointer;
                    outline: none !important;
    
                }
                &.slick-active {
                    button {
                        background: $COLOR_PRIMARY;
                    }
                }
            }
        }
    }
}

.galerie-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    &__item {
        outline: none !important;
        width: 50%;
        text-decoration: none;
        padding: 1rem 1.5rem;
        @media only screen and (min-width: 768px) {
            width: 33.33%;
        }
        @media only screen and (min-width: 1200px) {
            padding: 2rem 2.5rem;
        }
        span {
            display: block;
            overflow: hidden;
        }
        img {
            width: 100%;
            display: block;
            transition: 0.3s;
        }
        &:hover {
            img {
                transform: scale(1.1);
            }
        }
    }
}