@import "../abstract/_variables.scss";

.content {
    position: relative;
    z-index: 50;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 135rem;
    padding: 0 1.5rem;
}

.section__map {
    padding: 0 1.5rem;
    @media only screen and (min-width: 991px) {
        padding: 0 3rem;
    }
}