@import "../abstract/variables";

.header {
  position: relative;
  width: 100%;
  z-index: 999;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: $COLOR_SECTION_BACKGROUND;
  padding: 0 1.5rem;
  @media only screen and (min-width: 991px) {
    padding: 0 3rem;
  }

  &__left, &__right {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__right {
    padding: 0 5.5rem 0 0;
    @media only screen and (min-width: 550px) {
      padding: 0 4rem 0 0;
    }
    @media only screen and (min-width: 991px) {
        padding: 0;
    }
  }


  &__nav {
    display: none;
    &.open {
        display: block;
    }
    @media only screen and (max-width: 990px) {
        position: absolute;
        top:100%;
        left:0;
        width: 100%;
        background: $COLOR_SECTION_BACKGROUND;
        padding: 0 1rem 1rem 1rem;
    }
    @media only screen and (min-width: 991px) {
      display: block !important;
    } 
  }

  &__logo {
    position: relative;
    padding: 2rem 0 1rem 0;
    margin: 0 3rem 0 0;
    @media only screen and (min-width: 550px) {
      padding: 3rem 0 2rem 0;
    }
    @media only screen and (min-width: 1200px) {
      margin: 0 4rem 0 0;
    } 
    @media only screen and (min-width: 1400px) {
      margin: 0 6rem 0 0;
    } 
    a {
      display: block;
      text-decoration: none;
    }
    img {
      display: block;
      max-width: 15rem;
      @media only screen and (min-width: 1200px) {
        max-width: 19rem;
      } 
    }
  }

  &__button {
    display: none;
    margin: 0 0 0 1.5rem;
    padding: 1.5rem 2.5rem;
    color: $COLOR_PRIMARY_TEXT;
    background: $COLOR_PRIMARY;
    font-weight: bold;
    font-size: 1.6rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
    outline: none !important;
    border:none;
    border-radius: 0.5rem;
    @media only screen and (min-width: 550px) {
      display: block;
    }
    @media only screen and (min-width: 1200px) {
      margin: 0 0 0 2rem;
      padding: 1.5rem 3.5rem;
    }
    @media only screen and (min-width: 1400px) {
      margin: 0 0 0 3.5rem;
      padding: 1.5rem 5rem;
    } 
    &:hover {
      color: $COLOR_SECONDARY_TEXT;
      background: $COLOR_SECONDARY;
    }
  }

  &__toggle {
    position: absolute;
    top: 50%;
    right: 0.5rem;
    display: inline-block;
    width: 4.5rem;
    height: 4rem;
    border: none;
    outline: none !important;
    background: transparent;
    transform: rotate(0deg) translateY(-50%);
    transition: 0.3s ease-in-out;
    cursor: pointer;
    @media only screen and (min-width: 991px) {
      display: none;
    }

    span {
      display: block;
      position: absolute;
      height: 0.2rem;
      width: 2.8rem;
      background: #000;
      opacity: 1;
      left: 0.85rem;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;
      pointer-events: none;
      &:nth-child(1) {
        top: 1.2rem;
      }
      &:nth-child(2) {
        top: 2.0rem;
      }
      &:nth-child(3) {
        top: 2.0rem;
      }
      &:nth-child(4) {
        top: 2.8rem;
      }
    }
    &.open {
      span {
        &:nth-child(1) {
          top: 1.5rem;
          width: 0%;
          left: 50%;
        }
        &:nth-child(2) {
          transform: rotate(45deg);
        }
        &:nth-child(3) {
          transform: rotate(-45deg);
        }
        &:nth-child(4) {
          top: 1.5rem;
          width: 0%;
          left: 50%;
        }
      }
    }
  }
}

