/* open-sans-regular - latin-ext_latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../fonts/open-sans-v17-latin-ext_latin-regular.woff2") format("woff2"), url("../fonts/open-sans-v17-latin-ext_latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-600 - latin-ext_latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url("../fonts/open-sans-v17-latin-ext_latin-600.woff2") format("woff2"), url("../fonts/open-sans-v17-latin-ext_latin-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin-ext_latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../fonts/open-sans-v17-latin-ext_latin-700.woff2") format("woff2"), url("../fonts/open-sans-v17-latin-ext_latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700italic - latin-ext_latin */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 700;
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url("../fonts/open-sans-v17-latin-ext_latin-700italic.woff2") format("woff2"), url("../fonts/open-sans-v17-latin-ext_latin-700italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-800 - latin-ext_latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans ExtraBold"), local("OpenSans-ExtraBold"), url("../fonts/open-sans-v17-latin-ext_latin-800.woff2") format("woff2"), url("../fonts/open-sans-v17-latin-ext_latin-800.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-800italic - latin-ext_latin */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 800;
  src: local("Open Sans ExtraBold Italic"), local("OpenSans-ExtraBoldItalic"), url("../fonts/open-sans-v17-latin-ext_latin-800italic.woff2") format("woff2"), url("../fonts/open-sans-v17-latin-ext_latin-800italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* old-standard-tt-regular - latin-ext_latin */
@font-face {
  font-family: "Old Standard TT";
  font-style: normal;
  font-weight: 400;
  src: local("Old Standard TT Regular"), local("OldStandardTT-Regular"), url("../fonts/old-standard-tt-v12-latin-ext_latin-regular.woff2") format("woff2"), url("../fonts/old-standard-tt-v12-latin-ext_latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* old-standard-tt-italic - latin-ext_latin */
@font-face {
  font-family: "Old Standard TT";
  font-style: italic;
  font-weight: 400;
  src: local("Old Standard TT Italic"), local("OldStandardTT-Italic"), url("../fonts/old-standard-tt-v12-latin-ext_latin-italic.woff2") format("woff2"), url("../fonts/old-standard-tt-v12-latin-ext_latin-italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* old-standard-tt-700 - latin-ext_latin */
@font-face {
  font-family: "Old Standard TT";
  font-style: normal;
  font-weight: 700;
  src: local("Old Standard TT Bold"), local("OldStandardTT-Bold"), url("../fonts/old-standard-tt-v12-latin-ext_latin-700.woff2") format("woff2"), url("../fonts/old-standard-tt-v12-latin-ext_latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

html {
  font-family: sans-serif;
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: #ffffff;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1;
  margin: 0;
  padding: 0;
}

.page {
  overflow: hidden;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.hidden {
  display: none !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.h-100 {
  height: 100% !important;
}

.w-100 {
  width: 100% !important;
}

.text-bold {
  font-weight: bold !important;
}

.m-0 {
  margin: 0 !important;
}

.m-auto {
  margin: 0 auto !important;
}

.space-nowrap {
  white-space: nowrap !important;
}

.content {
  position: relative;
  z-index: 50;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 135rem;
  padding: 0 1.5rem;
}

.section__map {
  padding: 0 1.5rem;
}
@media only screen and (min-width: 991px) {
  .section__map {
    padding: 0 3rem;
  }
}

.header {
  position: relative;
  width: 100%;
  z-index: 999;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: #f9f9f9;
  padding: 0 1.5rem;
}
@media only screen and (min-width: 991px) {
  .header {
    padding: 0 3rem;
  }
}
.header__left, .header__right {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__right {
  padding: 0 5.5rem 0 0;
}
@media only screen and (min-width: 550px) {
  .header__right {
    padding: 0 4rem 0 0;
  }
}
@media only screen and (min-width: 991px) {
  .header__right {
    padding: 0;
  }
}
.header__nav {
  display: none;
}
.header__nav.open {
  display: block;
}
@media only screen and (max-width: 990px) {
  .header__nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #f9f9f9;
    padding: 0 1rem 1rem 1rem;
  }
}
@media only screen and (min-width: 991px) {
  .header__nav {
    display: block !important;
  }
}
.header__logo {
  position: relative;
  padding: 2rem 0 1rem 0;
  margin: 0 3rem 0 0;
}
@media only screen and (min-width: 550px) {
  .header__logo {
    padding: 3rem 0 2rem 0;
  }
}
@media only screen and (min-width: 1200px) {
  .header__logo {
    margin: 0 4rem 0 0;
  }
}
@media only screen and (min-width: 1400px) {
  .header__logo {
    margin: 0 6rem 0 0;
  }
}
.header__logo a {
  display: block;
  text-decoration: none;
}
.header__logo img {
  display: block;
  max-width: 15rem;
}
@media only screen and (min-width: 1200px) {
  .header__logo img {
    max-width: 19rem;
  }
}
.header__button {
  display: none;
  margin: 0 0 0 1.5rem;
  padding: 1.5rem 2.5rem;
  color: #fff;
  background: #ec1c26;
  font-weight: bold;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
  outline: none !important;
  border: none;
  border-radius: 0.5rem;
}
@media only screen and (min-width: 550px) {
  .header__button {
    display: block;
  }
}
@media only screen and (min-width: 1200px) {
  .header__button {
    margin: 0 0 0 2rem;
    padding: 1.5rem 3.5rem;
  }
}
@media only screen and (min-width: 1400px) {
  .header__button {
    margin: 0 0 0 3.5rem;
    padding: 1.5rem 5rem;
  }
}
.header__button:hover {
  color: #fff;
  background: #052e70;
}
.header__toggle {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  display: inline-block;
  width: 4.5rem;
  height: 4rem;
  border: none;
  outline: none !important;
  background: transparent;
  transform: rotate(0deg) translateY(-50%);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
@media only screen and (min-width: 991px) {
  .header__toggle {
    display: none;
  }
}
.header__toggle span {
  display: block;
  position: absolute;
  height: 0.2rem;
  width: 2.8rem;
  background: #000;
  opacity: 1;
  left: 0.85rem;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
  pointer-events: none;
}
.header__toggle span:nth-child(1) {
  top: 1.2rem;
}
.header__toggle span:nth-child(2) {
  top: 2rem;
}
.header__toggle span:nth-child(3) {
  top: 2rem;
}
.header__toggle span:nth-child(4) {
  top: 2.8rem;
}
.header__toggle.open span:nth-child(1) {
  top: 1.5rem;
  width: 0%;
  left: 50%;
}
.header__toggle.open span:nth-child(2) {
  transform: rotate(45deg);
}
.header__toggle.open span:nth-child(3) {
  transform: rotate(-45deg);
}
.header__toggle.open span:nth-child(4) {
  top: 1.5rem;
  width: 0%;
  left: 50%;
}

.section__about {
  background: #f9f9f9;
}

.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  padding: 0 0 8rem 0;
}
.about__content {
  width: 100%;
  color: #777;
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 1.7;
  padding: 0 0 3rem 0;
  text-align: center;
}
@media only screen and (min-width: 991px) {
  .about__content {
    width: calc(50% - 2rem);
    padding: 0 0 10rem 0;
    text-align: left;
  }
}
@media only screen and (min-width: 1200px) {
  .about__content {
    width: calc(50% - 4.5rem);
  }
}
.about__content h2 {
  font-family: "Old Standard TT";
  color: #000;
  font-size: 4rem;
  font-weight: normal;
  line-height: 1.2;
  margin: 4rem 0 2rem 0;
  padding: 0;
}
@media only screen and (min-width: 768px) {
  .about__content h2 {
    font-size: 5rem;
  }
}
@media only screen and (min-width: 991px) {
  .about__content h2 {
    margin: 4rem 0;
  }
}
.about__image {
  width: 100%;
  text-align: center;
}
@media only screen and (min-width: 991px) {
  .about__image {
    width: calc(50% - 2rem);
  }
}
@media only screen and (min-width: 1200px) {
  .about__image {
    width: calc(50% - 4.5rem);
  }
}
.about__image img {
  width: 100%;
  display: block;
}

.about-numbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  background: #fff;
  box-shadow: 0 0.5rem 1.5rem rgba(225, 241, 209, 0.23);
  padding: 3rem 2rem 0 2rem;
}
@media only screen and (min-width: 768px) {
  .about-numbers {
    padding: 4rem 3rem;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 991px) {
  .about-numbers {
    position: absolute;
    bottom: 0;
    width: 75%;
  }
}
@media only screen and (min-width: 1200px) {
  .about-numbers {
    padding: 5rem 7rem;
  }
}
.about-numbers__item {
  width: 100%;
  margin: 0 0 3rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media only screen and (min-width: 550px) {
  .about-numbers__item {
    width: 50%;
  }
}
@media only screen and (min-width: 768px) {
  .about-numbers__item {
    margin: 0;
    justify-content: space-between;
    width: auto;
  }
}
.about-numbers__icon img {
  width: 6rem;
}
@media only screen and (min-width: 550px) {
  .about-numbers__icon--wider img {
    margin: 0.8rem 0 0.7rem 0;
    width: 8rem;
    height: 4rem;
  }
}
.about-numbers__texts {
  padding: 0 0 0 1.8rem;
}
.about-numbers__value {
  line-height: 1.2;
  color: #052e70;
  font-weight: 600;
  font-family: "Old Standard TT";
  font-size: 4.2rem;
  margin: 0;
}
.about-numbers__caption {
  line-height: 1.2;
  color: #777;
  font-weight: normal;
  font-size: 1.8rem;
  margin: 0;
}

.section__apartmans {
  background: #f9f9f9;
  padding: 0 0 5rem 0;
}

.apartmans {
  padding: 0;
}
@media only screen and (min-width: 991px) {
  .apartmans {
    padding: 12rem 0 0 0;
  }
}
.apartmans__subtitle {
  text-align: center;
  margin: 0 0 1.5rem 0;
  line-height: 1.2;
  color: #052e70;
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.apartmans__title {
  text-align: center;
  font-family: "Old Standard TT";
  color: #000;
  font-size: 4.4rem;
  line-height: 1.2;
  margin: 0 0 1.5rem 0;
  padding: 0;
}
@media only screen and (min-width: 768px) {
  .apartmans__title {
    font-size: 5.4rem;
  }
}
.apartmans__separator {
  text-align: center;
  padding: 0 0 5rem 0;
}
.apartmans__slider {
  padding: 0 0 5.5rem 0;
  width: calc(100% + 4rem);
  margin: 0 -2rem;
}
@media only screen and (min-width: 1200px) {
  .apartmans__slider {
    width: calc(100% + 8rem);
    margin: 0 -4rem;
  }
}
.apartmans__slider .slick-arrow {
  display: none !important;
}
.apartmans__slider .slick-dots {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.apartmans__slider .slick-dots li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.apartmans__slider .slick-dots li button {
  font-size: 0;
  border: none;
  background: #000;
  padding: 0;
  margin: 0 4px;
  width: 7rem;
  height: 0.2rem;
  border-radius: 0;
  cursor: pointer;
  outline: none !important;
}
.apartmans__slider .slick-dots li.slick-active button {
  background: #ec1c26;
}

.apartman-card {
  padding: 0 2rem;
  outline: none !important;
  text-align: center;
  text-decoration: none;
}
@media only screen and (min-width: 1200px) {
  .apartman-card {
    padding: 0 4rem;
  }
}
.apartman-card__image {
  overflow: hidden;
}
.apartman-card__image img {
  display: block;
  width: 100%;
  transition: 0.3s;
}
.apartman-card__title {
  text-align: center;
  font-family: "Old Standard TT";
  color: #000;
  font-size: 2.8rem;
  line-height: 1.2;
  margin: 0 0 1rem 0;
  padding: 2rem 0 0 0;
}
.apartman-card__text {
  color: #777;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1.7;
  margin: 0;
}
.apartman-card:hover .apartman-card__image img {
  transform: scale(1.1);
}
.apartman-card:hover .apartman-card__title {
  text-decoration: underline;
}

.section__galerie {
  background: #052e70;
  padding: 7rem 0 6rem 0;
}
@media only screen and (min-width: 1200px) {
  .section__galerie {
    padding: 12rem 0;
  }
}

.galerie__title {
  text-align: center;
  font-family: "Old Standard TT";
  color: #fff;
  font-size: 4.4rem;
  line-height: 1.2;
  margin: 0 0 1.5rem 0;
  padding: 0;
}
@media only screen and (min-width: 768px) {
  .galerie__title {
    font-size: 5.4rem;
  }
}
.galerie__separator {
  text-align: center;
  padding: 0 0 5rem 0;
}
.galerie__slider {
  padding: 0 0 5.5rem 0;
  width: calc(100% + 3rem);
  margin: 0 -1.5rem;
}
@media only screen and (min-width: 1200px) {
  .galerie__slider {
    width: calc(100% + 5rem);
    margin: 0 -2.5rem;
  }
}
.galerie__slider .slick-arrow {
  display: none !important;
}
.galerie__slider .slick-dots {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.galerie__slider .slick-dots li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.galerie__slider .slick-dots li button {
  font-size: 0;
  border: none;
  background: #fff;
  padding: 0;
  margin: 0 4px;
  width: 7rem;
  height: 0.2rem;
  border-radius: 0;
  cursor: pointer;
  outline: none !important;
}
.galerie__slider .slick-dots li.slick-active button {
  background: #ec1c26;
}

.galerie-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.galerie-list__item {
  outline: none !important;
  width: 50%;
  text-decoration: none;
  padding: 1rem 1.5rem;
}
@media only screen and (min-width: 768px) {
  .galerie-list__item {
    width: 33.33%;
  }
}
@media only screen and (min-width: 1200px) {
  .galerie-list__item {
    padding: 2rem 2.5rem;
  }
}
.galerie-list__item span {
  display: block;
  overflow: hidden;
}
.galerie-list__item img {
  width: 100%;
  display: block;
  transition: 0.3s;
}
.galerie-list__item:hover img {
  transform: scale(1.1);
}

.section__form {
  background: #fff;
  padding: 8rem 0 5rem 0;
}
@media only screen and (min-width: 1200px) {
  .section__form {
    padding: 12rem 0 9rem 0;
  }
}

.form__subtitle {
  text-align: center;
  margin: 0 0 1.5rem 0;
  line-height: 1.2;
  color: #052e70;
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.form__title {
  text-align: center;
  font-family: "Old Standard TT";
  color: #000;
  font-size: 4.4rem;
  line-height: 1.2;
  margin: 0 0 1.5rem 0;
  padding: 0;
}
@media only screen and (min-width: 768px) {
  .form__title {
    font-size: 5.4rem;
  }
}
.form__separator {
  text-align: center;
  padding: 0 0 5rem 0;
}

.form-fields {
  width: 100%;
  margin: 0 auto;
  max-width: 80rem;
}
.form-fields .btn-primary {
  padding: 1.5rem 5rem;
  font-weight: bold;
  font-size: 1.6rem;
  border-radius: 0.5rem;
}

.footer {
  background: #fff;
}
.footer .copyright {
  text-align: center;
  color: #666;
  padding: 1.5rem 0;
  font-size: 1.2rem;
  line-height: 1.1;
}
.footer .copyright a {
  color: #666;
  text-decoration: none;
}
.footer .copyright a:hover {
  text-decoration: underline;
  color: #000;
}

.btn {
  display: inline-block;
  text-decoration: none;
  transition: 0.3s;
  border: 0.2rem solid #ec1c26;
  font-size: 1.5rem;
  line-height: 1.1;
  cursor: pointer;
  padding: 1rem 2.5rem;
  font-weight: bold;
  text-align: center;
}

.btn-primary {
  border-color: #ec1c26;
  background: #ec1c26;
  color: #fff;
}
.btn-primary:hover {
  border-color: #052e70;
  color: #fff;
  background: #052e70;
}

.btn-secondary {
  border-color: #052e70;
  background: #052e70;
  color: #fff;
}
.btn-secondary:hover {
  border-color: #052e70;
  background: #fff;
  color: #052e70;
}

.btn-arrows {
  background: transparent;
  border: none;
  line-height: 1.1;
  font-size: 1.4rem;
  font-weight: 700;
  color: #000;
  position: relative;
  padding: 0 3rem 0 0;
  text-decoration: underline;
}
.btn-arrows:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1.2rem;
  height: 1.2rem;
  background: url(../images/next.svg) no-repeat center center;
  background-size: contain;
}
.btn-arrows:hover {
  text-decoration: none;
}

.intro-price {
  text-align: center;
  border: 0.3rem solid #052e70;
  overflow: hidden;
  border-radius: 0.5rem;
  width: 100%;
}
@media only screen and (min-width: 991px) {
  .intro-price {
    width: 20rem;
  }
}
@media only screen and (min-width: 1200px) {
  .intro-price {
    width: 22rem;
  }
}
.intro-price__caption {
  font-size: 2.5rem;
  line-height: 1.1;
  font-weight: bold;
  color: #052e70;
  display: block;
  padding: 1.5rem 0;
}
.intro-price__value {
  font-size: 2.5rem;
  line-height: 1.1;
  font-weight: bold;
  color: #fff;
  background: #052e70;
  display: block;
  padding: 1.5rem 0;
}

.intro-icons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: calc(100% - 3rem);
  margin: 0 auto;
  max-width: 135rem;
  padding: 1.5rem 1.5rem;
  background: #fff;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
}
@media only screen and (min-width: 991px) {
  .intro-icons {
    width: calc(100vw - 5.9rem);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media only screen and (min-width: 1200px) {
  .intro-icons {
    padding: 1.5rem 9rem;
  }
}
.intro-icons__more {
  text-align: center;
  width: 100%;
  padding: 0 0 2rem 0;
}
@media only screen and (min-width: 991px) {
  .intro-icons__more {
    width: 7rem;
    padding: 0;
  }
}
.intro-icons__more a {
  display: inline-block;
  line-height: 1.1;
  font-size: 1.4rem;
  font-weight: 700;
  color: #000;
  position: relative;
  padding: 0 3rem 0 0;
  text-decoration: underline;
}
.intro-icons__more a:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1.2rem;
  height: 1.2rem;
  background: url(../images/next.svg) no-repeat center center;
  background-size: contain;
}
.intro-icons__more a:hover {
  text-decoration: none;
}
.intro-icons__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3rem 0;
  width: 100%;
}
@media only screen and (min-width: 991px) {
  .intro-icons__list {
    width: calc(100% - 7rem - 22rem);
    padding: 0 1.5rem;
  }
}
@media only screen and (min-width: 1200px) {
  .intro-icons__list {
    padding: 0 5rem;
  }
}
.intro-icons__item {
  width: 50%;
  text-align: center;
  margin: 0 0 3rem 0;
}
@media only screen and (min-width: 550px) {
  .intro-icons__item {
    width: 20%;
    margin: 0;
  }
}
.intro-icons__item img {
  width: 5rem;
  height: 5rem;
  filter: invert(12%) sepia(91%) saturate(2168%) hue-rotate(211deg) brightness(95%) contrast(102%);
}
.intro-icons__item span {
  padding: 1rem 0 0 0;
  display: block;
  line-height: 1.1;
  font-size: 1.4rem;
  font-weight: 700;
  color: #000;
}
.intro-icons__item--wider img {
  margin: 0.8rem 0 0.7rem 0;
  width: 7rem;
  height: 3.5rem;
}

.navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navigation__button {
  padding: 1.2rem 0;
  color: #fff;
  background: #ec1c26;
  font-weight: bold;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.3s;
  text-align: center;
  cursor: pointer;
  outline: none !important;
  border: none;
  border-radius: 0.5rem;
  display: block;
}
@media only screen and (min-width: 550px) {
  .navigation__button {
    display: none;
  }
}
.navigation__button:hover {
  color: #fff;
  background: #052e70;
}
.navigation > li {
  margin: 0.2rem 0;
  padding: 0;
  display: block;
  position: relative;
}
@media only screen and (min-width: 991px) {
  .navigation > li {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
  }
}
.navigation > li > a {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 1.4rem;
  color: #888;
  padding: 1rem;
  font-weight: 600;
  transition: 0.5s;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
@media only screen and (min-width: 1200px) {
  .navigation > li > a {
    padding: 1rem 2rem;
    font-size: 1.5rem;
  }
}
.navigation > li > a span {
  position: relative;
  z-index: 2;
}
.navigation > li > a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
  width: 0%;
  height: 100%;
  background: #052e70;
  z-index: 1;
  border-radius: 0.4rem;
  opacity: 0;
}
.navigation > li > a:hover {
  color: #fff;
}
.navigation > li > a:hover:before {
  width: 100%;
  opacity: 1;
}
.navigation > li.selected > a {
  color: #fff;
}
.navigation > li.selected > a:after {
  border-top-color: #fff;
}
.navigation > li.selected > a:before {
  width: 100%;
  opacity: 1;
}
@media only screen and (min-width: 991px) {
  .navigation > li.has-child > a {
    padding: 1rem 2.5rem 1rem 1rem;
  }
}
@media only screen and (min-width: 1200px) {
  .navigation > li.has-child > a {
    padding: 1rem 3rem 1rem 2rem;
    font-size: 1.5rem;
  }
}
.navigation > li.has-child > a:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  border-top: 0.5rem solid #444;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  transition: 0.5s;
  z-index: 3;
}
.navigation > li.has-child > a:hover:after {
  border-top-color: #fff;
}
.navigation > li.open > a {
  color: #fff;
}
.navigation > li.open > a:after {
  border-top-color: #fff;
}
.navigation > li.open > a:before {
  width: 100%;
  opacity: 1;
}
.navigation > li.open ul {
  display: block;
}
.navigation > li ul {
  display: none;
  margin: 0;
  padding: 1rem 0;
  background: #f9f9f9;
  min-width: 100%;
}
@media only screen and (min-width: 991px) {
  .navigation > li ul {
    position: absolute;
    top: 100%;
    left: 0;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
}
.navigation > li ul li {
  display: block;
  margin: 0;
  padding: 0;
}
.navigation > li ul li a {
  display: block;
  cursor: pointer;
  font-size: 1.5rem;
  color: #888;
  padding: 0.7rem 1rem;
  font-weight: 600;
  transition: 0.3s;
  text-decoration: none;
  text-align: center;
}
@media only screen and (min-width: 991px) {
  .navigation > li ul li a {
    text-align: left;
  }
}
@media only screen and (min-width: 1200px) {
  .navigation > li ul li a {
    padding: 0.7rem 2rem;
  }
}
.navigation > li ul li a:hover {
  background: #052e70;
  color: #fff;
}

.lang-selector {
  position: relative;
}
.lang-selector__button {
  background: transparent;
  border: none;
  outline: none !important;
  cursor: pointer;
  padding: 0 2rem 0 0;
  margin: 0;
  position: relative;
}
.lang-selector__button:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  border-top: 0.5rem solid #444;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  transition: 0.3s;
}
.lang-selector__button img {
  width: 2.4rem;
  height: 2.4rem;
  display: block;
}
.lang-selector__dropdown {
  display: none;
  text-align: center;
  position: absolute;
  top: 130%;
  left: -1rem;
  background: #fff;
  box-shadow: 0 0.5rem 1.5rem rgba(225, 241, 209, 0.23);
  width: calc(100% + 2rem);
  padding: 0 0 0.3rem 0;
}
.lang-selector__dropdown.open {
  display: block;
}
.lang-selector__dropdown a {
  display: block;
  padding: 0.7rem 0;
  text-align: center;
}
.lang-selector__dropdown a img {
  width: 2.4rem;
  height: 2.4rem;
  display: inline-block;
  transition: 0.3s;
}
.lang-selector__dropdown a:hover img {
  transform: scale(1.15);
}

.intro {
  width: 100%;
  height: 100vh;
  max-height: calc(100vh - 11.4rem - 3rem);
  padding: 0 1.5rem;
}
@media only screen and (min-width: 550px) {
  .intro {
    height: 100vh;
    max-height: calc(100vh - 11.4rem - 3rem);
  }
}
@media only screen and (min-width: 991px) {
  .intro {
    padding: 0 3rem;
  }
}
.intro .slick-arrow {
  display: none !important;
}
.intro .slick-dots {
  display: none !important;
  position: absolute;
  bottom: 1.5rem;
  left: 0;
  width: 100%;
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.intro .slick-dots li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.intro .slick-dots li button {
  font-size: 0;
  border: none;
  background: #fff;
  padding: 0;
  margin: 0 4px;
  width: 12px;
  height: 12px;
  border-radius: 0;
  cursor: pointer;
  outline: none !important;
}
.intro .slick-dots li.slick-active button {
  background: #ec1c26;
}
.intro__item {
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh !important;
  max-height: calc(100vh - 11.4rem - 3rem);
}
@media only screen and (min-width: 550px) {
  .intro__item {
    height: 100vh !important;
    max-height: calc(100vh - 11.4rem - 3rem);
  }
}

.section__intro {
  position: relative;
  background: #f9f9f9;
}
.section__caption {
  background: #f9f9f9;
  padding: 5.5rem 0 0rem 0;
}
@media only screen and (min-width: 991px) {
  .section__caption {
    padding: 8rem 0 6rem 0;
  }
}
.section__caption h1 {
  font-family: "Old Standard TT";
  color: #052e70;
  font-size: 4.5rem;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}
@media only screen and (min-width: 768px) {
  .section__caption h1 {
    font-size: 5.5rem;
  }
}
@media only screen and (min-width: 991px) {
  .section__caption h1 {
    font-size: 7rem;
  }
}
@media only screen and (min-width: 1200px) {
  .section__caption h1 {
    font-size: 8rem;
  }
}
@media only screen and (min-width: 1400px) {
  .section__caption h1 {
    font-size: 10rem;
  }
}

.form-group__half {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 5rem);
  margin: 0 -2.5rem;
  align-items: center;
}
.form-group__half .form-group__col {
  width: 100%;
  padding: 0 2.5rem;
}
@media only screen and (min-width: 768px) {
  .form-group__half .form-group__col {
    width: 50%;
  }
}
.form-group__half .form-group__col .form-field {
  padding: 0;
}

.form-field {
  display: block;
  margin: 0 0 3.5rem 0;
  padding: 0;
  position: relative;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  line-height: 1.1;
}
.form-field__input {
  border: none;
  border-bottom: 0.1rem solid #000;
  border-radius: 0;
  margin: 0;
  padding: 1rem 0;
  width: 100%;
  outline: none !important;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  color: #000;
  line-height: 1.1;
}
.form-field__input:focus {
  box-shadow: 0 0 5px 2px rgba(194, 213, 255, 0.6196078431);
  border-color: #296f98;
}
.form-field__input:hover {
  cursor: pointer;
}
.form-field__input.error {
  border-color: red;
}
.form-field.date-field {
  position: relative;
}
@media (min-width: 768px) {
  .form-field.date-field .form-field__input {
    padding: 1rem 0 1rem 3rem !important;
  }
  .form-field.date-field:after {
    content: "";
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: url(../images/calendar.svg) no-repeat center center;
    background-size: cover;
    pointer-events: none;
  }
}
.form-field.pocet {
  border-bottom: 0.1rem solid #000;
  display: flex;
  width: 100%;
}
.form-field.pocet label {
  flex-grow: 1;
  padding: 1rem 0;
  color: #666;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  margin: 0;
}
.form-field.pocet .form-field__input {
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
  width: 4rem;
  outline: none !important;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  color: #000;
  line-height: 1.1;
  text-align: center;
}
.form-field.pocet .form-field__input:focus {
  box-shadow: none;
  border-color: transparent;
}
.form-field.pocet .form-field__input:hover {
  cursor: pointer;
}
.form-field.pocet .form-field__input.error {
  border-color: transparent;
}
.form-field.pocet input[type=number]::-webkit-inner-spin-button,
.form-field.pocet input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

/*# sourceMappingURL=main.css.map */
